In [1]:
def bmr(weight_kg, height_cm, age_yr, gender):
    if gender=="M":
        return 66+(13.7*weight_kg)+5*height_cm-6.8*age_yr
    elif gender=="F":
        return 655+9.6*weigth_kg+1.8*height_cm-4.7*age_yr
    else:
        return None

In [2]:
bmr(80,170,45, 'M')

1706.0

In [3]:
def should_i_eat_it(weight_kg, height_cm, age_yr, gender, calories):
    """ if calories is greater than my base metabolic rate... don't eat it """
    if calories>bmr(weight_kg, height_cm, age_yr, gender):
        return "No"
    else:
        return "Yes"

In [4]:
should_i_eat_it(80, 170,45,"M", 250)

'Yes'

In [5]:
list1=[1,2,3,4,5]

In [6]:
list1[0]

1

In [7]:
list1[1]

2

In [8]:
len(list1)

5

In [9]:
list1.append(0)

In [10]:
list1

[1, 2, 3, 4, 5, 0]

In [11]:
list1.reverse() # change the lsit

In [12]:
list1

[0, 5, 4, 3, 2, 1]

In [13]:
list1.sort() # change the list

In [14]:
list1

[0, 1, 2, 3, 4, 5]

In [15]:
list1+[6,7,8]

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [16]:
for value in [1,1,2,3,5,8]:
    print("fibonacci: " + str(value))

fibonacci: 1
fibonacci: 1
fibonacci: 2
fibonacci: 3
fibonacci: 5
fibonacci: 8

In [17]:
list1

[0, 1, 2, 3, 4, 5]

In [18]:
sum(list1)

15

In [19]:
min(list1)

0

In [20]:
max(list1)

5

In [21]:
for index, value in enumerate([1,2,3,4,5]):
    print("the value at position {} is {}".format(str(index),str(value)))

the value at position 0 is 1
the value at position 1 is 2
the value at position 2 is 3
the value at position 3 is 4
the value at position 4 is 5

In [22]:
vowels=['a','e',"i", "o", "u"]

In [23]:
type(vowels)

list

In [24]:
vowels[0]

'a'

In [25]:
for letter in vowels:
    print(letter)

a
e
i
o
u

In [26]:
for counter, letter in enumerate(vowels):
    print(f'The vowel in position {counter} is {letter}')

The vowel in position 0 is a
The vowel in position 1 is e
The vowel in position 2 is i
The vowel in position 3 is o
The vowel in position 4 is u

In [27]:
start=1
stop=11
step=2

for value in range(start, stop, step):  # doesn't include stop=11; range stops before the stop value
    print(value)

1
3
5
7
9

In [28]:
for number in range(3, 40, 3):
    print(number)

3
6
9
12
15
18
21
24
27
30
33
36
39

In [29]:
a=list(['a',2,5])

In [32]:
list(range(5))

[0, 1, 2, 3, 4]

In [57]:
def permutations(values):
    if len(values)==1:
        return [values]
    else:
        result=[]
        for index, item in enumerate(values):
            # result.append([item] + values[:index]+ values[index+1:])
            
            # for each item, computate all the permutations of the ramaining items
            
            for p in permutations(values[:index]+values[index+1:]):
                # then add into our results the selected item followed by each
                # permutation of the remaining items
                
                result.append([item]+p)
            
        return result

In [58]:
permutations(['a'])

[['a']]

In [59]:
permutations(['a', 'b'])

[['a', 'b'], ['b', 'a']]

In [60]:
permutations(['a', 'b', 'c'])

[['a', 'b', 'c'],
 ['a', 'c', 'b'],
 ['b', 'a', 'c'],
 ['b', 'c', 'a'],
 ['c', 'a', 'b'],
 ['c', 'b', 'a']]

In [61]:
permutations(['a', 'b', 'c', 'd'])

[['a', 'b', 'c', 'd'],
 ['a', 'b', 'd', 'c'],
 ['a', 'c', 'b', 'd'],
 ['a', 'c', 'd', 'b'],
 ['a', 'd', 'b', 'c'],
 ['a', 'd', 'c', 'b'],
 ['b', 'a', 'c', 'd'],
 ['b', 'a', 'd', 'c'],
 ['b', 'c', 'a', 'd'],
 ['b', 'c', 'd', 'a'],
 ['b', 'd', 'a', 'c'],
 ['b', 'd', 'c', 'a'],
 ['c', 'a', 'b', 'd'],
 ['c', 'a', 'd', 'b'],
 ['c', 'b', 'a', 'd'],
 ['c', 'b', 'd', 'a'],
 ['c', 'd', 'a', 'b'],
 ['c', 'd', 'b', 'a'],
 ['d', 'a', 'b', 'c'],
 ['d', 'a', 'c', 'b'],
 ['d', 'b', 'a', 'c'],
 ['d', 'b', 'c', 'a'],
 ['d', 'c', 'a', 'b'],
 ['d', 'c', 'b', 'a']]

In [62]:
radius=1

def area(r):
    return 3.14*(r**2)

while (area(radius)<100):
    print(radius)
    radius+=1

print("the first radius with an area>=100 is {}".format(str(radius)))

1
2
3
4
5
the first radius with an area>=100 is 6

In [66]:
a=[1,2,3,4]
a.index(2)

1

In [76]:
start = 1
stop = 1000
a=[]

for num in range(start, stop):
    #print('Hello World!')
    a.append(num)
    start = start + 5

In [77]:
len(a)

999

In [79]:
for value in range(10,1,-1):
    print(value)

10
9
8
7
6
5
4
3
2

In [89]:
LOS=[0,1,2,3,4,4,4,5,5,5,5,5,5,5]
LOS[13]

5