# What's a custom pivot?

In this example, I know what columns I want to have in the pivot, but I don't know if they exist, or if extra columns might exist that I want to simply ignore.

Back to our complications data...

Suppose that we want a column for the following measure IDs:
* PSI_90_SAFETY
* PSI_13_POST_SEPSIS
* PSI_08_HIP_FRAC

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/data/complications.csv')

In [3]:
data.columns

Index(['provider_id', 'hospital_name', 'address', 'city', 'state', 'zip_code',
       'county_name', 'phone_number', 'measure_id', 'measure_name',
       'compared_to_national', 'denominator', 'score', 'lower_estimate',
       'higher_estimate', 'footnote', 'measure_start_date',
       'measure_end_date'],
      dtype='object')

In [4]:
data.head()

,provider_id,hospital_name,address,city,state,zip_code,county_name,phone_number,measure_id,measure_name,compared_to_national,denominator,score,lower_estimate,higher_estimate,footnote,measure_start_date,measure_end_date
0,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,COMP_HIP_KNEE,Rate of complications for hip/knee replacement...,No Different Than the National Rate,292,3.2,2.1,4.8,NaN,2015-04-01T00:00:00.000,2018-03-31T00:00:00.000
1,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_AMI,Death rate for heart attack patients,No Different Than the National Rate,688,13,11.0,15.5,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
2,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_CABG,Death rate for CABG surgery patients,No Different Than the National Rate,291,4.3,2.6,6.8,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
3,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_COPD,Death rate for COPD patients,No Different Than the National Rate,411,8.8,6.7,11.4,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
4,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_HF,Death rate for heart failure patients,No Different Than the National Rate,869,12.7,10.7,15.0,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000

In [5]:
data['measure_id'].value_counts()

MORT_30_COPD                 53
PSI_13_POST_SEPSIS           53
MORT_30_CABG                 53
MORT_30_PN                   53
MORT_30_AMI                  53
MORT_30_HF                   53
MORT_30_STK                  53
COMP_HIP_KNEE                53
PSI_12_POSTOP_PULMEMB_DVT    53
PSI_14_POSTOP_DEHIS          53
PSI_11_POST_RESP             53
PSI_10_POST_KIDNEY           53
PSI_9_POST_HEM               52
PSI_15_ACC_LAC               52
PSI_4_SURG_COMP              52
PSI_8_POST_HIP               52
PSI_6_IAT_PTX                52
PSI_3_ULCER                  52
PSI_90_SAFETY                52
Name: measure_id, dtype: int64

**Strategy**

Retreive each subset of rows that we want and put them into separate data frames.

Then merge those data frames together using the key values we want as our new rows.

In [6]:
data.columns

Index(['provider_id', 'hospital_name', 'address', 'city', 'state', 'zip_code',
       'county_name', 'phone_number', 'measure_id', 'measure_name',
       'compared_to_national', 'denominator', 'score', 'lower_estimate',
       'higher_estimate', 'footnote', 'measure_start_date',
       'measure_end_date'],
      dtype='object')

In [7]:
psi_90 = data[data['measure_id'] == 'PSI_90_SAFETY'][['provider_id','denominator','score']]
psi_13 = data[data['measure_id'] == 'PSI_13_POST_SEPSIS'][['provider_id','denominator']]
psi_08 = data[data['measure_id'] == 'PSI_8_POST_HIP'][['provider_id','denominator']]

In [17]:
psi_90.head()

    provider_id    denominator score
17        10001  Not Available  0.99
36        10005  Not Available  1.01
55        10006  Not Available  1.02
74        10007  Not Available  0.98
93        10008  Not Available  0.99

In [8]:
psi_13.head()

    provider_id    denominator
10        10001           1607
29        10005            641
48        10006            551
67        10007             41
86        10008  Not Available

In [9]:
psi_08.head()

    provider_id denominator
16        10001       11971
35        10005        5742
54        10006        8846
73        10007        1176
92        10008         334

In [20]:
psis = psi_90.\
       merge(psi_13, how='outer', on=['provider_id']).\
       merge(psi_08, how='outer', on=['provider_id'])

In [21]:
psis.head()

   provider_id  denominator_x score  denominator_y denominator
0        10001  Not Available  0.99           1607       11971
1        10005  Not Available  1.01            641        5742
2        10006  Not Available  1.02            551        8846
3        10007  Not Available  0.98             41        1176
4        10008  Not Available  0.99  Not Available         334

In [22]:
psis.columns = ['provider_id','PSI_90 Den','PSI_90 Score','PSI_13','PSI_08']

In [23]:
psis

    provider_id     PSI_90 Den PSI_90 Score         PSI_13 PSI_08
0         10001  Not Available         0.99           1607  11971
1         10005  Not Available         1.01            641   5742
2         10006  Not Available         1.02            551   8846
3         10007  Not Available         0.98             41   1176
4         10008  Not Available         0.99  Not Available    334
5         10011  Not Available         1.21            793   5416
6         10012  Not Available         0.86             87   1874
7         10016  Not Available         1.05            761   4690
8         10018  Not Available         0.98             34     58
9         10019  Not Available         0.92  Not Available   4831
10        10021  Not Available         1.32             53    800
11        10022  Not Available         0.99  Not Available    252
12        10023  Not Available         0.88           1633   7897
13        10024  Not Available         1.05           1114   7131
14        10029  Not Available         0.80           1359   8709
15        10033  Not Available         1.73           5000  18920
16        10034  Not Available         0.96  Not Available    761
17        10035  Not Available         1.09            461   5615
18        10036  Not Available         0.90  Not Available   2508
19        10038  Not Available         1.05            183   2255
20        10039  Not Available         1.06           5223  25430
21        10040  Not Available         1.11           1401   7307
22        10044  Not Available         0.98  Not Available    702
23        10045  Not Available         0.95  Not Available    734
24        10046  Not Available         0.66            388   5221
25        10049  Not Available         0.80            386   1752
26        10051  Not Available         1.00  Not Available    134
27        10052  Not Available         0.97  Not Available    608
28        10055  Not Available         0.96           2117   7984
29        10056  Not Available         0.98           3484   9282
30        10058  Not Available         0.99  Not Available    263
31        10059  Not Available         0.98  Not Available    539
32        10061  Not Available         1.17             62   2097
33        10062  Not Available         0.89             39   1000
34        10065  Not Available         0.96             72   2244
35        10069  Not Available         0.93  Not Available    865
36        10073  Not Available         0.97  Not Available    542
37        10078  Not Available         1.14           1247   7378
38        10079  Not Available         1.10            379   2810
39        10083  Not Available         0.94            367   3546
40        10085  Not Available         1.01  Not Available   6712
41        10086  Not Available         0.94  Not Available   1007
42        10087  Not Available         0.90            320   1833
43        10089  Not Available         0.92            459   2926
44        10090  Not Available         1.14           1274   6981
45        10091  Not Available         0.99  Not Available    388
46        10092  Not Available         1.02  Not Available  17900
47        10095  Not Available         0.98  Not Available    363
48        10097  Not Available         0.98  Not Available    568
49        10099  Not Available         1.10             37   1059
50        10100  Not Available         0.91           1070   5565
51        10101  Not Available         0.93  Not Available   1078
52        10102            NaN          NaN  Not Available    NaN