In [1]:
# set has no order, no replication. list, tuple have order, replication. tuple can't be changed

In [14]:
my_list=['paul','boal',45,220, True]

In [15]:
my_list.sort(key=str)  # treat all element in the list like string

In [16]:
my_list

[220, 45, True, 'boal', 'paul']

In [17]:
sorted(my_list, key=str)  # without key=str, it returns error

[220, 45, True, 'boal', 'paul']

In [4]:
list1=[54,12,45]
list2=list1  # list2 and list 1 refer to the same object
list3=list1[0:2] # create a copy of a list if you slice it
list4=list1.sort()
list1

[12, 45, 54]

In [5]:
list2

[12, 45, 54]

In [6]:
list3

[54, 12]

In [7]:
list4  # return None

In [21]:
a=[1,2,3,3]
a_set=set(a)

In [22]:
a_set

{1, 2, 3}

In [41]:
names=[['Paul', 'Boal'], ['Anny', 'Monroe'], ['Donald', 'Duck'], ['Mickey', 'Mouse'],['Paul', 'Bunyan']]

In [42]:
def swap(my_list):   # change the last to the first postion, first to the second position
    return [my_list[1], my_list[0]]

In [43]:
sorted(names, key=swap)  # sort by the last name, then first name

[['Paul', 'Boal'],
 ['Paul', 'Bunyan'],
 ['Donald', 'Duck'],
 ['Anny', 'Monroe'],
 ['Mickey', 'Mouse']]

In [50]:
names=[['Paul', 'Boal'], ['Anny', 'Monroe'], ['Donald', 'Duck'], ['Mickey', 'Mouse'],['Paul', 'Bunyan']]

In [51]:
new_list=[]
for a,b in names:          # for name in names: new_list.append([name[1], name[0]])
    new_list.append([b,a])

In [52]:
new_list

[['Boal', 'Paul'],
 ['Monroe', 'Anny'],
 ['Duck', 'Donald'],
 ['Mouse', 'Mickey'],
 ['Bunyan', 'Paul']]

In [53]:
sorted(new_list)

[['Boal', 'Paul'],
 ['Bunyan', 'Paul'],
 ['Duck', 'Donald'],
 ['Monroe', 'Anny'],
 ['Mouse', 'Mickey']]

In [54]:
new_list

[['Boal', 'Paul'],
 ['Monroe', 'Anny'],
 ['Duck', 'Donald'],
 ['Mouse', 'Mickey'],
 ['Bunyan', 'Paul']]

In [55]:
new_list[-2]  # second from the last

['Mouse', 'Mickey']

In [56]:
new_list[-1] # last one

['Bunyan', 'Paul']

In [57]:
new_list[1:-2]  # doesn't include second to the last

[['Monroe', 'Anny'], ['Duck', 'Donald']]

In [58]:
patient_age={'jone':89}

In [59]:
patient_age['jone']

89

In [60]:
patient_age.get('jone')

89

In [61]:
patient_age['Carroll']=34

In [62]:
patient_age

{'jone': 89, 'Carroll': 34}

In [63]:
for k,v in patient_age.items():
    print(k+" is " + str(v))

jone is 89
Carroll is 34

In [64]:
peb=['paul', 'boal']

In [66]:
" ".join(peb)

'paul boal'

In [68]:
peb="paul boal"
peb.split(" ")

['paul', 'boal']

In [69]:
vals = [3.14, 1.41]
vals.append([2.72])
vals = vals + ['i']

In [70]:
vals

[3.14, 1.41, [2.72], 'i']

In [71]:
(a, b) = (['Paul','Alex','Linda','Kathy','Amit','Samira'], [41, 38, 30, 43, 41, 40, 34, 52])
len(a[5])

6

In [72]:
a[5]

'Samira'

In [73]:
len(a[5])

6

In [1]:
names=[['Paul', 'Boal'], ['Anny', 'Monroe'], ['Donald', 'Duck'], ['Mickey', 'Mouse'],['Paul', 'Bunyan']]

In [2]:
names

[['Paul', 'Boal'],
 ['Anny', 'Monroe'],
 ['Donald', 'Duck'],
 ['Mickey', 'Mouse'],
 ['Paul', 'Bunyan']]

In [3]:
[name[1] + ", " + name[0] for name in names]

['Boal, Paul', 'Monroe, Anny', 'Duck, Donald', 'Mouse, Mickey', 'Bunyan, Paul']

In [4]:
names=["paul", 'TEDDY', "ADA", "SaraLynn"]

In [7]:
[n[0].upper() + n[1:].lower() for n in names]

['Paul', 'Teddy', 'Ada', 'Saralynn']