In [7]:
my_list = ['Paul', 'Boal', 45, 220, True]

In [4]:
# Sorts items in place
my_list.sort(key=str)

In [5]:
my_list

[22, 45, 'Boal', 'Paul', True]

In [8]:
# Return a sorted copy of my list
sorted(my_list, key=str)

[220, 45, 'Boal', 'Paul', True]

In [9]:
my_words = ['this','is','a','extremely','long','word']

In [10]:
sorted(my_words)

['a', 'extremely', 'is', 'long', 'this', 'word']

In [11]:
sorted(my_words, key=len)

['a', 'is', 'this', 'long', 'word', 'extremely']

In [16]:
names = ['Anny', 'Ann', 'Anne']

In [17]:
sorted(names)

['Ann', 'Anne', 'Anny']

In [19]:
names = [
    ['Paul', 'Boal'],
    ['Anny', 'Monroe'],
    ['Donald', 'Duck'],
    ['Mickey', 'Mouse'],
    ['Paul', 'Bunyan']
]

In [20]:
sorted(names)

[['Anny', 'Monroe'],
 ['Donald', 'Duck'],
 ['Mickey', 'Mouse'],
 ['Paul', 'Boal'],
 ['Paul', 'Bunyan']]

In [ ]:
# Paul Boal
# Paul Bunyan
# Donald Duck
# Anny Monroe
# Mickey Mouse

In [21]:
# Solution #1:
# I want to sort by Last First
# but my data in the list is First Last

def swap(my_list):
    return [my_list[1], my_list[0]]

In [22]:
swap(['Paul','Boal'])

['Boal', 'Paul']

In [24]:
# Solution #2:
# Build a new list that has Last First,
#  sort that new list
# Then use the new list and switch back to First Last
names = [
    ['Paul', 'Boal'],
    ['Anny', 'Monroe'],
    ['Donald', 'Duck'],
    ['Mickey', 'Mouse'],
    ['Paul', 'Bunyan']
]

In [27]:
new_list = []
for name in names:
    new_list.append([name[1], name[0]])

In [28]:
new_list

[['Boal', 'Paul'],
 ['Monroe', 'Anny'],
 ['Duck', 'Donald'],
 ['Mouse', 'Mickey'],
 ['Bunyan', 'Paul']]

In [29]:
sorted(new_list)

[['Boal', 'Paul'],
 ['Bunyan', 'Paul'],
 ['Duck', 'Donald'],
 ['Monroe', 'Anny'],
 ['Mouse', 'Mickey']]

In [30]:
new_list[0]

['Boal', 'Paul']

In [36]:
i = 2
new_list[i:]

[['Duck', 'Donald'], ['Mouse', 'Mickey'], ['Bunyan', 'Paul']]

In [32]:
new_list[:3]

[['Boal', 'Paul'], ['Monroe', 'Anny'], ['Duck', 'Donald']]

In [33]:
new_list[-2]

['Mouse', 'Mickey']

In [34]:
new_list[-1]

['Bunyan', 'Paul']

In [35]:
new_list[1:-2]

[['Monroe', 'Anny'], ['Duck', 'Donald']]

In [ ]:
names = [
    ['Paul', 'Emre', 'Boal'],
    ['Anny', 'Deniz', 'Monroe'],
    ['Donald', 'Duck'],
    ['Mickey', 'Mouse'],
    ['Paul', 'Bunyan']
]

In [37]:
names = [
    {
        'last': 'Boal',
        'first': 'Paul',
        'middle': 'Emre'
    },
    {
        'last': 'Monroe',
        'first': 'Anny',
        'middle': 'Deniz'
    },
    {
        'first': 'Donald',
        'last': 'Duck'
    }
]

In [38]:
names

[{'last': 'Boal', 'first': 'Paul', 'middle': 'Emre'},
 {'last': 'Monroe', 'first': 'Anny', 'middle': 'Deniz'},
 {'first': 'Donald', 'last': 'Duck'}]

In [39]:
peb = ['Paul', 'Boal']
" ".join(peb)

'Paul Boal'

In [42]:
peb = "Paul Boal"
peb.split(' ')

['Paul', 'Boal']